venv
dist
build
test
Searchengine.egg-info
__pycache__
**/searchengine/venv
**/searchengine/dist
**/searchengine/build
**/searchengine/test
**/searchengine/Searchengine.egg-info
**/searchengine/__pycache__
images/searchengine/venv
images/searchengine/dist
images/searchengine/build
images/searchengine/test
images/searchengine/Searchengine.egg-info
images/searchengine/__pycache__
src/images/searchengine/venv
src/images/searchengine/dist
src/images/searchengine/build
src/images/searchengine/test
src/images/searchengine/Searchengine.egg-info
src/images/searchengine/__pycache__